.Automate {
	text-align:center;
	margin-top: 5px;
}

.Automate > table {
	text-align:left;
	margin-left: auto; 
	margin-right: auto;
	table-layout:fixed;
}

.HiddenButton { 
	display: none;
}


.success,
.failed {
	font-weight: bold !important;
	font-size: 14px;
	/* 2023.01.16 -- Joe McCall | Improving readability */
	padding-right: 8px;
}

.success {
	color: green !important;
}

.failed {
	color: red !important;
}

.TabAutomate {
	background-image:url('Automate.png');
}

#diagnosticButton{
	width:100%;
	z-index:5;
}

#dataTableHeader, #dataTableData{
	border:0px;
	padding:3px;
	font-size:10px;
	word-wrap:break-word
}

#lastUpdateContainer{
	top:5%;
	padding-top: 10px;
}

#dataTable{
	top:10%;
	width:95%;
}

#repairOptions, #dataContainer {
	display: inline-block;
	text-align: left;
	width: 95%;
}

#lterrors {
	display: inline-block;
	text-align: left;
	height: 100%;
	width: 95%;
	height: 100%;
}

#lterrors_file{
	/*
	2023.01.16 -- Joe McCall | Improving readability
		- log file now stands out distinctly from the rest of the tab
		- text no longer wraps and instead users scrollbars.
	*/
	font-size: 11px;
	background-color: #252525;
	overflow:auto;
	padding: 5px 0px 0px 5px;
	max-height: 395px;
}

/* 2023.01.16 -- Joe McCall | To allow the Repair/Reinstall buttons to sit in-line. */

.DiagActions {
	display: inline-block;
	width: auto;
}

#restartOption{
	margin: 0px 10px 0px 0px;
}

#reinstallOption{
	margin: 0px;
}

.DiagActions a:link, .DiagActions a:visited{
	display: block;
    text-decoration: inherit;
    color: #FFF !important;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
	width: auto;
	background-color: #026CCF;
}

/* 2023.01.16 -- Joe McCall | Quality of life. */

.DiagActions a:hover {
	background-color: #014e95 !important;;
}

/* 2023.01.16 -- Joe McCall | Reduce wasted space */

#tableDetails, #dataContainer{
	margin: 0px 0px 8px 0px !important;
}