.Automate {
	text-align:center;
}

.Automate > table {
	text-align:left;
	margin-left: auto; 
	margin-right: auto;
	table-layout:fixed;
}

.TabAutomate {
	background-image:url('Images\Automate.png');
}

#diagnosticButton{
	width:100%;
	z-index:5;
}

#dataTableHeader, #dataTableData{
	border:1px solid #b4b4b4;
	padding:3px;
	font-size:10px;
	word-wrap:break-word
}

#lastUpdateContainer{
	top:5%;
}

#dataTable{
	top:10%;
	width:100%;
}