#detailTabContent.Processes, 
#detailTabContent.Software, 
#detailTabContent.Services,
#detailTabContent.EventLog {
	text-align:center;
}

#detailTabContent.Processes > table, 
#detailTabContent.Software > table, 
#detailTabContent.Services > table,
#detailTabContent.EventLog > table {
	text-align:left;
	max-width:100%;
	margin-left: auto; 
	margin-right: auto;
}

#detailTabContent.Processes > table {
	table-layout:fixed;
}

#diagnosticButton{
	width:100%;
	z-index:5;
}

#dataTableHeader, #dataTableData{
	border:1px solid #b4b4b4;
	padding:3px;
}

#dataTable{
	top:10%;
}
